<div class="container">
    <h3>Agregar Nuevo Producto</h3>
    <form [formGroup]="productoForm" (ngSubmit)="guardar()">
        <div>
            <label>Nombre:</label>
            <input type="text" formControlName="nombre">
        </div>

        <div>
            <label>Descripción:</label>
            <input type="text" formControlName="descripcion">
        </div>

        <div>
            <label>Precio:</label>
            <input type="number" formControlName="precio">
        </div>

        <button type="submit" [disabled]="productoForm.invalid">Guardar Producto</button>
    </form>
</div>