<div class="container">
    <h2>{{titulo}}</h2>

    <div class="buscador">
        <input type="text" id="search" placeholder="..." [formControl]="buscadorControl">
        <button (click)="alBuscar()">Buscar</button>
    </div>
    <!-- Buscador por precio -->
    <div class="buscador">
        <input type="number" id="min" [formControl]="precioMin" placeholder="Coloca precio minimo...">
        <input type="number" id="max" [formControl]="precioMax" placeholder="Coloca precio maximo...">

        <button (click)="buscarByPrecio()">Buscar por Precio</button>
    </div>
    @if(mensajeErro){
    <p>{{mensajeErro}}</p>
    }
    <!-- Buscar productos premium -->
    <div>
        <button (click)="buscarPremium()">Productos Premium</button>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of productos; track producto.id) {
            <tr [class.stock-bajo]="producto.stock < 5" [class.precio-alto]="producto.precio > 1000">
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio | currency }}</td>
                <td>{{ producto.stock}}</td>
                <td>
                    <button [routerLink]="['/editar', producto.id]">Editar</button>
                    <button (click)='eliminar(producto.id)'>
                        Eliminar
                    </button>
                </td>
            </tr>
            } @empty {
            <tr>
                <td colspan="5">Cargando productos o lista vacía...</td>
            </tr>
            }
        </tbody>
    </table>

    <div class="buscador">
        <input type="text" id="search" placeholder="..." [formControl]="buscadorResumen">
        <button (click)="buscarResumen()">Buscar</button>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @for (productoR of productoResumen; track productoR.nombre) {
            <tr>
                <td>{{ productoR.nombre }}</td>
                <td>{{ productoR.precio | currency }}</td>
            </tr>
            } @empty {
            <tr>
                <td colspan="5">Cargando productos o lista vacía...</td>
            </tr>
            }
        </tbody>
    </table>

</div>